{% extends model('component') %}

{% define config = {
    name: 'fs-n-teaser-item-content',
    tag: 'article'
} %}

{% define data = {
    fsBlockData: []
} %}

{# Used to determine if a starting a tag has been inserted to close it afterwards #}
{% set url = null %}

{% block body %}

{% if data.fsBlockData.data.st_link is not null %}
    {% set url = firstSpiritGetLinkUrl(data.fsBlockData.data.st_link) %}
{% endif %}

<div class="fs-n-teaser-image">
    {% if data.fsBlockData.data.st_picture is defined and data.fsBlockData.data.st_picture is not empty %}

        {% if data.fsBlockData.data.st_link is not null %}
            {% set url = firstSpiritGetLinkUrl(data.fsBlockData.data.st_link) %}

            {% if url is defined %}
                <a href="{{ url }}" {{firstSpiritGetLinkTarget(data.fsBlockData.data.st_link)}}>
            {% endif %}
        {% endif %}
        
        <picture
            data-preview-id="{{ data.fsBlockData.data.st_picture.previewId }}"
            data-tpp-context-image-resolution="TEASER_IMAGE">
                {% for resolution in data.fsBlockData.data.st_picture.resolutions %}
                    <source srcset="{{resolution.url}}" media="(max-width: {{resolution.width}}px)" />
                {% endfor %}


                <img src="{{ data.fsBlockData.data.st_picture.resolutions.ORIGINAL.url }}"
                    alt="{% if data.fsBlockData.data.st_picture.description is not null %}{{data.fsBlockData.data.st_picture.description}}{% endif %}">
        </picture>
        {% if url is defined %}
            </a>
        {% endif %}
    {% endif %}
</div>
<div class="fs-n-teaser-content">
    {% set contentHeadline = data.fsBlockData.data.st_headline %}
    {% if contentHeadline is defined and contentHeadline is not empty %}
        <h3>{{ contentHeadline | raw }}</h3>
    {% endif %}
    {% set contentDescription = data.fsBlockData.data.st_subline %}
    {% if contentDescription is defined and contentDescription is not empty %}
        <h4>{{ contentDescription | raw }}</h4>
    {% endif %}
    {% set contentText = data.fsBlockData.data.st_text %}
    {% if contentText is defined and contentText is not empty %}
        <p>{{ contentText | raw }}</p>
    {% endif %}
    {% if url is defined %}
        {% set linkText = data.fsBlockData.data.st_link.data.lt_text %}
        <a href="{{ url }}" {{firstSpiritGetLinkTarget(data.fsBlockData.data.st_link)}} class="fs-btn-link">

            {% if linkText is defined and linkText is not empty %}
                {{ linkText | raw }}
            {% else %}
                Link
            {% endif %}
        </a>
    {% endif %}
</div>
{% endblock %}
