{% extends model('component') %}

{% define config = {
    name: 'fs-banner',
    tag: 'fs-banner'
} %}

{% define data = {
    fsBlockData: []
} %}

{# Used to determine if a starting a tag has been inserted to close it afterwards #}
{% set hasLink = false %}

{% block body %}
    {% set url -%}
        {# {%- if data.fsBlockData.data.st_link is defined and data.fsBlockData.data.st_link is not empty -%} #}
        {# {%- include template('link', 'FirstSpiritPreview') with { link: data.fsBlockData.link } -%} #}
        {# {%- endif -%} #}
    {%- endset %}

    <div class="fs-banner">
        <figure
            {% if data.fsBlockData.index is defined and data.fsBlockData.index is not empty %} data-preview-id="#{{data.fsBlockData.index}}"{% endif %}
            {% if data.fsBlockData.data.st_variant is not null %} data-variant="{{data.fsBlockData.data.st_variant.key}}"{% endif %}
        >
            {% if data.fsBlockData.data.st_link is not null %}
                {% if data.fsBlockData.data.st_link.template == "external_link" %}
                    <a href="{{ data.fsBlockData.data.st_link.data.lt_linkUrl }}" target="_blank">
                    {% set hasLink = true %}
                {% endif %}
                {% if data.fsBlockData.data.st_link.template == "product_link" %}
                    {% set product = firstSpiritProductData(data.fsBlockData.data.st_link.data.lt_product.value[0].identifier) %}
                    {% if product is not null %}
                        <a href="{{ product.url }}">
                        {% set hasLink = true %}
                    {% endif %}
                {% endif %}
                {% if data.fsBlockData.data.st_link.template == "category_link" %}
                    {% set category = firstSpiritCategoryData(data.fsBlockData.data.st_link.data.lt_category.value[0].identifier) %}
                    {% if category is not null %}
                        <a href="{{ category.url }}">
                        {% set hasLink = true %}
                    {% endif %}
                {% endif %}
            {% endif %}


                <picture
                        data-preview-id="{{ data.fsBlockData.data.st_image.previewId }}"
                        data-tpp-context-image-resolution="BANNER_IMAGE">
                    {% for resolution in data.fsBlockData.data.st_image.resolutions %}
                        <source srcset="{{resolution.url}}" media="(max-width: {{resolution.width}}px)" />
                    {% endfor %}


                    <img src="{{ data.fsBlockData.data.st_image.resolutions.ORIGINAL.url }}"
                         alt="{% if data.fsBlockData.data.st_image_alt_text is not null %}{{data.fsBlockData.data.st_image_alt_text}}{% endif %}">
                </picture>

                {% if hasLink == true %}</a>{% endif %}

            {% if (data.fsBlockData.data.st_title is not empty) or (data.fsBlockData.data.st_subtitle is not empty) %}
                <figcaption>
                    <hgroup>
                        {% if data.fsBlockData.data.st_title is not empty %}
                            <h2>{{ data.fsBlockData.data.st_title | raw}}</h2>
                        {% endif %}
                        {% if data.fsBlockData.data.st_subtitle is not empty %}
                            <h3>{{ data.fsBlockData.data.st_subtitle | raw}}</h3>
                        {% endif %}
                    </hgroup>
                </figcaption>
            {% endif %}
        </figure>
    </div>
{% endblock %}
